*.pyc

*.pth
data/textvqa/
data/shared_textvqa/
data/VQA/Annotations/
data/VQA/Features/
data/VQA/Questions/
data/VQA/QuestionTypes/
data/VQA/Images/
data/textvqa_features/
data/backup_textvqa
*.sh
backup/

*/__pycache__/
.idea/
*.ipynb_checkpoints/
.DS_Store
.python-version
*.zip
runs/
training/
